$fontFamilyOne: 'Ubuntu', sans-serif;
$fontFamilyTwo: "Montserrat", serif;
$fontFamilyThree: "Lato", sans-serif;

:root {
    --cardsPerLine: var(--cardsPerLine);
    --cardsGap: var(--cardsGap);
 
    @media (min-width: 767px) {
        --cardsGap: 3.2rem;
        --cardsPerLine: 3;
    }
 
    @media (max-width: 767px) {
        --cardsGap: 2rem;
        --cardsPerLine: 2;
    }
}

#header {
	position: fixed;
    background-color: white;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	z-index: 3;

	#warning-line {
		width: 100%;
		background-color: #D8E7F5;
		padding: 1.1rem;
		height: 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		p {
			font-family: $fontFamilyOne;
			font-weight: 500;
			font-size: 1.4rem;
			color: #455F78;
			text-align: center;
		}

        svg {
            color: #455F78;
            fill: #455F78;
        }

		.close-button {
            border: 0;
            background: transparent;
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 2.4rem;
            cursor: pointer;

			svg {
				color:#455F78;
			}
        }
	}

	.header-content {
		// height: 7.2rem;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		.header-top {
			width: 100%;
			height: 100%;
			padding: 1.6rem 0;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.input-container {
				display: flex;
				align-items: center;
				height: 4rem;

				@media (max-width: 767px) {
					display: none;
				}
			
				button {
					height: 4rem;
					width: 4rem;
					display: grid;
					place-items: center;
					border: none;
					background: none;

					svg {
                        fill: #000000;
						color: #000000;
					}
				}

				input {
					font-family: $fontFamilyOne;
					font-size: 1.6rem;
					font-weight: 600;
					color: #000;
					padding-left: 1.6rem;
					background: none;
					border: 0;
					outline: none;
					
					&::placeholder {
                        font-family: $fontFamilyOne;
						font-weight: 400;
						color: #666;
					}
				}
			}

			.logo {
				width: 17.5rem;
				height: 4rem;
				position: absolute;
				left: 50%;
				transform: translate(-50%, 0%);
                object-fit: contain;
			}

			.user-actions {
				display: flex;
				align-items: center;
				height: 4rem;
				gap: 1.6rem;

				@media (max-width: 767px) {
					display: none;
				}

				a {
					width: 4rem;
					height: 4rem;
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
                    font-family: $fontFamilyOne;

					svg {
						color: #000000;
					}

					&:hover {
						.name-link {
							opacity: 1;
							top: 4rem;
						}
					}
				}

				.name-link {
					display: flex;
					flex-direction: column;
					align-items: center;
					position: absolute;
					top: 0;
					opacity: 0;
					transition: .3s ease-in-out;
                    z-index: 0;
                    
					&::before {
                        content: "";
                        width: 0;
                        height: 0;
                        position: absolute;
                        border-left: 1rem solid transparent;
                        border-right: 1rem solid black;
                        border-bottom: 1rem solid black;
                        border-top: 1rem solid transparent;
                        transform: rotate(226deg);
					}

					.name {
						padding: .2rem .4rem;
						background: #000000;
                        z-index: 1;

						p {
							font-family: $fontFamilyOne;
							font-size: 1.2rem;
							color: #FFFFFF;
						}
					}
				}
			}
   		}

		> nav {
            background-color: #fff;
            width: 100%;
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;

			@media (max-width: 767px) {
				display: none;
			}

			ul {
				display: flex;
				align-items: center;
				gap: 4.4rem;
				height: 2.1rem;
	
				a {
					font-size: 1.6rem;
					color: #000;
					font-weight: 600;
                    font-family: $fontFamilyOne;
				}
			}
		}
  	}

	@media (max-width: 1440px) {
		.header-content {
			padding: 0 1.6rem;
		}
	}
}

section.banner1 {
    width: 100%;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    margin-top: 16.2rem;

    &:hover {
        .customer-banner {
            .slick-prev {
                left: 2rem;
            }

            .slick-next {
                right: 2rem;
            }
        }
    }

    .customer-banner {
        height: 100%;

        > button {
            position: absolute;
            top: 45%;
            z-index: 2;
            outline: none;
            border: none;
            width: 9rem;
            height: 9rem;
            border-radius: 999rem;
            background-color: transparent;
            color: #FFFFFF;
            cursor: pointer;

            svg {
                color: #fff;
                 
                 
            }

            &:hover {
                background: #2050F9;
                color: #FFFFFF;

                svg {
                    color: #FFFFFF; 
                     
                     
                }
            }
        }

        .slick-prev {
            left: -32rem;
            font-size: 0;

            &::before {
                content: '';
                width: 4rem;
                height: 4.5rem;
                line-height: 1;
                font-size: 2.5rem;
                position: absolute;
                z-index: 1;
            }
        }

        .slick-next {
            right: -32rem;
            font-size: 0;

            &::after {
                content: '';
                width: 4rem;
                height: 4.5rem;
                line-height: 1;
                font-size: 2.5rem;
                position: absolute;
            }
        }

        .slick-dots {
            position: absolute;
            left: 50%;
            bottom: 2.4rem;
            transform: translateX(-50%);

            li {
                width: 2.4rem;
                height: 0.4rem;
                display: inline-block;
                padding: 0.1rem;
                background-color: #CACAC9;
                margin: 1rem 0.4rem;
                border-radius: .4rem;
                cursor: pointer;
                transition: .3s ease-in-out;

                &.slick-active {
                    background-color: #fff;
                    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);;
                }

                &:hover {
                    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.45);  
                }
            }

            button {
                display: none;
            }
        }

        .slide {
            display: relative;

            > img {
                height: 100%;
                width: 100%;
                
                filter: brightness(50%);
            }
        }
    }

    .slick-list {
        height: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;

        .slick-track {
            position: relative;
            top: 0;
            left: 0;
            display: flex;

            .slick-slide a img {
                width: 100%;
            }
            
        }
    }

    .banner-content {
        position: absolute;
        width: 100vw;
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.2rem;
        padding: 3.4rem 2rem;

        .subTitle {
            text-transform: uppercase;
            text-align: center;
            font-weight: 500;
            color: #fff;
            font-family: $fontFamilyOne;

            &::after {
                content: " ";
                position: absolute;
                width: 4.4rem;
                top: 6.4rem;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 0.2rem;
                background-color: #fff;
                transition: 0.15s ease-in-out;
            }
            
            &:hover::after {
                width: 6.4rem;
            }
        }

        .text {
            text-align: center;
            color: white;
            font-size: 8rem;
            font-weight: bold;

            @media (max-width: 1150px) {
                font-size: 6rem;
            }

            @media (max-width: 850px) {
                font-size: 5rem;
            }

            @media (max-width: 715px) {
                font-size: 3rem;
            }
        }

        .area-button {
            display: flex;
            column-gap: 0.8rem;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.2rem 1.6rem;
                border: none;
                border-radius: 0.2rem;
                font-size: 1.4rem;
                color: #fff;
                font-weight: 500;
                text-transform: uppercase;
                font-family: $fontFamilyOne;
                transition: 0.15s ease-in-out;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.25);  
                }
            }
            .explorar {
                background-color: #2050F9;
            }
            .comprar {
                background-color: #f2f2ff;
                color: #000;
            }
        }
    }

    .slide2 {
        display: flex;
        align-items: center;
        
        .content {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 3rem;

            .subTitle {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 4.4rem;
                    top: 3rem;
                    left: 2.2rem;
                    transform: translate(-50%, -50%);
                    height: 0.2rem;
                    background-color: #fff;
                    transition: 0.15s ease-in-out;
                }

                &:hover::after {
                    width: 4.8rem;
                }
            }

            .text {
                text-align: left;
                color: white;
                font-size: 8rem;
                font-weight: bold;

                @media (max-width: 1150px) {
                    font-size: 6rem;
                }

                @media (max-width: 850px) {
                    font-size: 5rem;
                }

                @media (max-width: 715px) {
                    font-size: 3rem;
                }
            }
        }
    }

} 

section.category1  {
    padding: 3.8rem 0;

    .inner-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;

        #header-categories {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            svg {
                color: black;
                fill: black;
            }

            .category-title {
                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    font-family: $fontFamilyOne;
                    font-weight: 600;
                    font-size: 1.4rem;
                    color: #000000;
                    text-transform: uppercase;
                }
                
                h1 {
                    font-family: $fontFamilyOne;
                    font-weight: 700;
                    font-size: 3.4rem;
                    color: #040C22;
                }
            }

            p {
                color: #000;
                font-family: $fontFamilyOne;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 600;
                width: 16rem;
            }
        }
    
        .categories-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--cardsGap);
            flex-wrap: wrap;

            > div {
                max-width: calc((100% - ((var(--cardsPerLine) - 1) * var(--cardsGap))) / var(--cardsPerLine));
            }

            @media (max-width: 991px) {
                > div {
                    max-width: calc((100% - ((var(--cardsPerLine) - 2) * var(--cardsGap))) / (var(--cardsPerLine) - 1));
                }
            }

            @media (max-width: 767px) {
                > div {
                    max-width: calc((100% - var(--cardsGap)) / 2);
                }
            }

            .card-category {
                width: 100%;
            
                .category-item {
                    width: 100%;
                    height: 40rem;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    position: relative;
                    background-color: black;
                
                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        background-color: rgba(0, 0, 0, 0.3);
                        transition: .3s ease-in-out;

                        &:hover {
                            opacity: .4;
                            transition: .3s ease-in-out;
                        }
                    }
                
                    h4 {
                        font-family: $fontFamilyTwo;
                        font-weight: 500;
                        font-size: 2.4rem;
                        line-height: 4rem;
                        color: #FFF;
                        text-transform: uppercase;
                        z-index: 1;
                        margin-bottom: 5.2rem;
                        text-align: center;
                    }
                }
            }
        }

    
        a.see-all {
            padding: 0.8rem 4.7rem;
            background-color: #616164;
            border-radius: 2rem;
            color: #FFFFFF;
            font-family: $fontFamilyOne;
            font-weight: 400;
            font-size: 1.6rem;
            transition: .3s ease-in-out;
            
            &:hover {
                background-color: #000000;
            }
        } 
           
    }
}

section.product3 {
    padding: 3.8rem 0;

    @media (max-width: 991px) {
        padding: 0.8rem 0;
    }

    @media (max-width: 767px) {
        padding: 2.5rem 0;
    }

    .inner-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            font-family: $fontFamilyTwo;
            font-size: 1.4rem;
            font-weight: 600;
            color: #000000;
            text-align: center;
            text-transform: uppercase;

            @media (max-width: 767px) {
                font-size: 1.2rem;
            }
        }

        h4 {
            font-family: $fontFamilyTwo;
            font-size: 3.4rem;
            font-weight: 700;
            color: #000000;
            text-align: center;

            @media (max-width: 767px) {
                font-size: 3.2rem;
            }
        }
    }

    .products-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--cardsGap);
        flex-wrap: wrap;

        > div {
            max-width: calc((100% - ((var(--cardsPerLine) - 1) * var(--cardsGap))) / var(--cardsPerLine));
        }

        @media (max-width: 991px) {
            > div {
                max-width: calc((100% - ((var(--cardsPerLine) - 2) * var(--cardsGap))) / (var(--cardsPerLine) - 1));
            }
        }

        @media (max-width: 767px) {
            > div {
                max-width: calc((100% - var(--cardsGap)) / 2);
            }
        }

        .card {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #FAFAFA;
            position: relative;
        
            .card-header {
                width: 100%;
                min-height: 36.8rem;
                overflow: hidden;
                position: relative;
        
                @media (max-width: 767px) {
                    min-height: auto;
                }
        
                a figure {
                    width: 100%;
            
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
        
                    .percent {
                        width: 5rem;
                        height: 2.2rem;
                        background-color: #000000;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        left: 0;
        
                        p {
                            font-family: $fontFamilyOne;
                            font-size: 1.4rem;
                            font-weight: 400;
                            color: #FFFFFF;
                        }
                    }
                }
        
                #favorite {
                    position: absolute;
                    top: 1.2rem;
                    right: -5.0rem;
                    transition: .2s ease-in-out;
        
                    button {
                        width: 4.0rem;
                        height: 4.0rem;
                        background-color: #FAFAFA;
                        border-radius: 2.0rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: .2s ease-in-out;
                        overflow: hidden;
                        position: relative;
                        z-index: 2;
                        cursor: pointer;
                        border: 0;
        
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #000000;
                            border-radius: 2.0rem;
                            transition: transform .3s;
                            transform-origin: 0 0;
                            transition-timing-function: cubic-bezier(0, 1.6, 0.7);
                            transform: scaleX(0);
                        }
        
                        svg {
                            z-index: 1;
        
                            &.on-active {
                                color: #ffffff;
                            }
                        }
        
                        &:hover {
                            &::before {
                                transform: scaleX(1);
                            }
        
                            svg {
                                 color: #fff;
                            }
                        }
                    }
        
                    .favorite-text {
                        position: absolute;
                        top: 1.2rem;
                        right: 0;
                        background-color: #000000;
                        width: 14rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        transition: .2s ease-in-out;
                        z-index: 1;
        
                        @media (max-width: 767px) {
                            display: none;
                        }
        
                        &:after {
                            content: "";
                            width: 0;
                            height: 0;
                            position: absolute;
                            border-left: 1rem solid transparent;
                            border-right: 1rem solid #000000;
                            border-top: 1rem solid transparent;
                            top: 0.6rem;
                            left: 12.4rem;
                            transform: rotate(317deg);
                        }
        
                        p {
                            font-family: $fontFamilyOne;
                            font-size: 1.2rem;
                            font-weight: 400;
                            color: #fff;
                        }
                    }
        
                    &:hover {
                        .favorite-text {
                            opacity: 1;
                            right: 45px;
                        }
                    }
                }
        
                .stock {
                    position: absolute;
                    bottom: -5.0rem;
                    transition: .2s ease-in-out;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    div {
                        background-color: #FAFAFA;
                        border-radius: 2.0rem;
                        padding: 1.0rem 7.1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: color .4s linear;
                        position: relative;
                        overflow: hidden;
        
                        @media (max-width: 575px) {
                            padding: 1rem 2.1rem;
                        }
        
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #000000;
                            border-radius: 2.0rem;
                            transition: transform .3s;
                            transform-origin: 0 0;
                            transition-timing-function: cubic-bezier(0, 1.6, 0.7);
                            transform: scaleX(0);
                        }
        
                        &:hover {
                            &::before {
                                transform: scaleX(1);
                            }
        
                            p {
                                color: #FFFFFF;
                            }
                        }
        
                        p {
                            font-family: $fontFamilyOne;
                            font-size: 16px;
                            font-weight: 500;
                            color: #111111;
                            z-index: 1;
        
                            @media (max-width: 767px) {
                                font-size: 12px;
                            }
                        }
                    }    
                }
        
                &:hover {
                    .stock {
                        bottom: 1.8rem;
                    }
        
                    #favorite {
                        right: 1.2rem;
                    }
                }
        
                @media (max-width: 767px) {
                    .stock {
                        bottom: 1.8rem !important;
                    }
        
                    #favorite {
                        right: 1.2rem !important;
                    }
                }
            }
        
            .card-bottom {
                padding: 1.2rem 0.8rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.2rem;
        
                .code {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.4rem;
        
                    img, svg {
                        width: 2.0rem;
                        height: 2.0rem;
                    }
        
                    p {
                        font-family: $fontFamilyOne;
                        font-size: 1.4rem;
                        font-weight: 400;
                        color: #616164;
        
                        @media (max-width: 767px) {
                            font-size: 10px;
                        }
                    }
                }
        
                h3 {
                    font-family: $fontFamilyTwo;
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: #111111;
                    text-align: center;
                    min-height: 6.3rem;
                    word-wrap: anywhere;
        
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                }
        
                .price-box {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1.2rem;
        
                    p {
                        font-family: $fontFamilyOne;
                        font-size: 1.8rem;
                        font-weight: 400;
                        color: #000000;
        
                        @media (max-width: 767px) {
                            font-size: 14px;
                        }
                    }
        
                    .price-discount {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.4rem;
        
                        p {
                            font-family: $fontFamilyOne;
                            font-size: 1.8rem;
                            font-weight: 400;
                            color: #616164;
        
                            @media (max-width: 767px) {
                                font-size: 14px;
                            }
                        }
        
                        span {
                            font-family: $fontFamilyOne;
                            font-size: 1.8rem;
                            font-weight: 400;
                            color: #E95144;
                            
                            @media (max-width: 767px) {
                                font-size: 14px;
                            }
                        }
                    }
                }
        
                .button-box a {
                    width: 100%;
                    background-color: #616164;
                    padding: 1.0rem 0;
                    border-radius: 2.0rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: color .4s linear;
                    position: relative;
                    overflow: hidden;
        
                    p {
                        font-family: $fontFamilyOne;
                        font-size: 1.6rem;
                        font-weight: 500;
                        color: #FAFAFA;
                        z-index: 1;
        
                        @media (max-width: 767px) {
                            font-size: 12px;
                        }
                    }
        
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #000000;
                        border-radius: 2.0rem;
                        transition: transform .3s;
                        transform-origin: 0 0;
                        transition-timing-function: cubic-bezier(0, 1.6, 0.7);
                        transform: scaleX(0);
        
                        @media (max-width: 767px) {
                            transform: scaleX(1);
                        }
                    }
        
                    &:hover::before {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    footer a {
        display: flex;
        width: 13.7rem;
        height: 4rem;
        padding: 0 2.4rem;
        justify-content: center;
        align-items: center;
        background-color: #616164;
        border-radius: 2rem;
        transition: color .4s linear;
        position: relative;
        overflow: hidden;

        p {
            font-family: $fontFamilyOne;
            font-size: 1.6rem;
            font-weight: 500;
            color: #FAFAFA;
            z-index: 1;

            @media (max-width: 767px) {
                font-size: 12px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            border-radius: 2.0rem;
            transition: transform .3s;
            transform-origin: 0 0;
            transition-timing-function: cubic-bezier(0, 1.6, 0.7);
            transform: scaleX(0);

            @media (max-width: 767px) {
                transform: scaleX(1);
            }
        }

        &:hover::before {
            transform: scaleX(1);
            
        }
    }    
}

.form7 {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;

    .section-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #000;

        p {
            font-size: 1.4rem;
            font-weight: 600;
            text-transform: uppercase;
            font-family: $fontFamilyOne;
        }

        h1 {
            font-size: 3.4rem;
            font-weight: 700;
            font-family: $fontFamilyTwo;
        }
    }

    .faq-container {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 2rem;
        height: 100%;

        form {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            gap: 2rem;
            height: 100%;

            .input-item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                gap: .4rem;
            
                label {
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 1.3;
                    color: #3D3D3D;
                    font-family: $fontFamilyTwo;
                }
                
                input {
                    width: 26.24rem;
                    height: 5rem;
                    padding: 1.6rem 1.8rem;
                    border: 1px solid #A9A9A9;
                    display: flex;
                    align-items: center;
                    color: #3D3D3D;
                    font-family: $fontFamilyOne;
    
                    &::placeholder {
                        color: #a9a9a9;
                    }
                }
            }
    
            button {
                min-width: 26.24rem;
                min-height: 5rem;
                background-color: #1F314F;
                font-weight: 500;
                font-size: 1.4rem;
                color: #fff;
                padding: 1.6rem 1.8rem;
                text-transform: uppercase;
                border: none;
            }

            @media (max-width: 1440px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 4.75rem);
                gap: 3.2rem 2.4rem;
                margin-top: 2.4rem;
    
                .input-item {
                    display: block;
                    margin-top: 4rem;
                }
    
                button {
                    grid-column: 1 / -1;
                }
            }
    
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                gap: 1.8rem;
                margin-top: 0;
    
                .input-item {
                    margin-top: 0;
                    display: flex;
                    gap: .4rem;
                }
                
            }
        }


    }
}

section.post2 {
    padding: 3.8rem 0;

    .inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
    }

    .blogs-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--cardsGap);
        flex-wrap: wrap;

        > div {
            max-width: calc((100% - ((var(--cardsPerLine) - 1) * var(--cardsGap))) / var(--cardsPerLine));
        }

        @media (max-width: 1200px) {
            > div {
                max-width: calc((100% - ((var(--cardsPerLine) - 2) * var(--cardsGap))) / (var(--cardsPerLine) - 1));
            }
        }

        @media (max-width: 992px) {
            > div {
                max-width: calc((100% - ((var(--cardsPerLine) - 2) * var(--cardsGap))) / (var(--cardsPerLine) - 1));
            }
        }
        
        @media (max-width: 767px) {
            > div {
                max-width: calc((100% - var(--cardsGap)) / 2);
            }
        }

        .blog-card7 {
            width: 100%;
            height: 60rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 2rem;
            position: relative;
        
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                opacity: 0;
                z-index: 1;
                transition: opacity 0.3s;
            }
        
            &:hover {
                &::before {
                    opacity: 1;
                }
        
                .blog-content {
                    bottom: 6rem;
                }
            }
        
            img {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 1;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .3s ease-in-out;
            }
        
            .blog-content {
                position: absolute;
                bottom: 4rem;
                left: 0;
                display: flex;
                padding: 0 3rem;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.2rem;
                z-index: 2;
                transition: .3s ease-in-out;
                container-type: normal;
                container-name: sidebar;
        
                @media (max-width: 768px) {
                    padding: 0 2rem;
                }

                .blog-category {
                    display: flex;
                    align-items: center;
                    gap: 1.2rem;

                    @media (max-width: 768px) {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: .8rem;
                    }
        
                    .link {
                        padding: .6rem 1.5rem;
                        background: #FFFFFF;
                        border-radius: 99.9rem;
                        border: 1px solid #E1E0E0;
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        @media (max-width: 768px) {
                            padding: .4rem .8rem;
                        }

                        div {
                            width: 1.4rem;
                            height: 1.4rem;
                            border-radius: .7rem;
                            background-color: #C74D71;
                        }
        
                        p {
                            font-family: $fontFamilyTwo;
                            font-weight: 600;
                            font-size: 1.4rem;
                            color: #0F0E0E;

                            @media (max-width: 768px) {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
        
                a {
                    h4 {
                        font-family: $fontFamilyTwo;
                        color: #FFFFFF;
                        min-height: 6.6rem;
                        font-size: 3rem;
                        font-weight: 800;

                        @media (max-width: 768px) {
                            font-size: 2rem;
                            font-weight: 800;
                        }

                    }
                }
        
        
                p {
                    font-family: $fontFamilyOne;
                    font-weight: 500;
                    font-size: 1.2rem;
                    color: #FFFFFF;
                }
            }
        }
    }

    #header-blog {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-family: $fontFamilyOne;
            font-weight: 600;
            font-size: 1.4rem;
            color: #000000;
            text-transform: uppercase; 
        }

        h1 {
            font-family: $fontFamilyOne;
            font-weight: 700;
            font-size: 3.4rem;
            color: #040C22;
        }
    }

    #footer-blog a {
        background-color: #616164;
        padding: 0.8rem 4.7rem;
        border-radius: 2rem;
        color: #FFFFFF;
        font-family: $fontFamilyOne;
        font-weight: 400;
        font-size: 1.6rem;
        transition: .3s ease-in-out;

        &:hover {
            background-color: #4c4c4e;
        }
    }
}

#footer {
    background-color: #FFFFFF;

    #footer-main {
        padding: 5.8rem 0;
        width: 100%;
        background: #F7F8FD;
    }

    #main-content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;

        @media (max-width: 991px) {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        .nav-links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;

            @media (max-width: 991px) {
                align-items: center;
                text-align: center;
            }

            h4 {
                font-family: $fontFamilyTwo;
                font-weight: 600;
                font-size: 1.8rem;
                color: #202435;
                text-transform: uppercase;
            }

            p, li a {
                font-family: $fontFamilyOne;
                font-weight: 400;
                font-size: 1.6rem;
                color: #71778E;
            }

            ul {
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.2rem;

                @media (max-width: 991px) {
                    align-items: center;
                }
            }

            .button-location {
                width: 18rem;
                height: 5.4rem;
                background: #19147A;
                border-radius: .6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .8rem;

                svg {
                    color: #FFFFFF;
                }
                
                p {
                    font-family: $fontFamilyOne;
                    font-weight: 500;
                    font-size: 1.6rem;
                    color: #FFFFFF; 
                }
            }
        }

    }

    #footer-contact {
        padding: 2.5rem 0;

        #contact-content {
            display: flex;
            align-items: center;
        }

        .top {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @media (max-width: 767px) {
                flex-direction: column;
                align-items: center;
                gap: 2rem;
            }

            .link {
                display: flex;
                align-items: center;
                gap: 1.2rem;

                @media (max-width: 767px) {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
                
                a {
                   width: 4rem;
                   height: 4rem;
                   border-radius: 2rem;
                   border: 1px solid #9B9BB4;
                   display: flex;
                   align-items: center;
                   justify-content: center;

                    svg {
                        color: #19147A;
                    }

                    &:hover {
                        background: #19147A;
                        border-color: #19147A;

                        svg {
                            color: #FFFFFF;
                        }
                    }
                }

                span {
                    font-family: $fontFamilyTwo;
                    font-weight: 600;
                    font-size: 2rem;
                    color: #202435;
                }

                p {
                    font-family: $fontFamilyOne;
                    font-weight: 400;
                    font-size: 1.4rem;
                    color: #9B9BB4;
                }
            }

            .medias-sociais {
                display: flex;
                align-items: center;
                gap: .8rem;

                a {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 2rem;
                    border: 1px solid #9B9BB4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .3s ease-in-out;

                    svg {
                        color: #19147A;
                    }

                    &:hover {
                        background: #19147A;
                        border-color: #19147A;

                        svg {
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }

    #footer-bottom {
        width: 100%;
        padding: 3rem 0;
        border-top: 1px solid #9B9BB4;

        .bottom {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            @media (max-width: 767px) {
                flex-direction: column;
                align-items: center;
                gap: 2rem;
            }

            p {
                font-family: $fontFamilyOne;
                font-weight: 400;
                font-size: 1.4rem;
                color: #9B9BB4; 
            }

            .bottom-links {
                display: flex;
                align-items: center;
                gap: 6.4rem;

                @media (max-width: 767px) {
                    flex-direction: column;
                    align-items: center;
                    gap: 2rem;
                }

                .link {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 2rem;

                    svg {
                        color: #9B9BB4;
                    }
                }
            
                p {
                    font-family: $fontFamilyOne;
                    font-weight: 500;
                    font-size: 1.6rem;
                    color: #19147A;
                }
            }
        }
    }

    .anchor {
        background-color: #19147A;
        width: 17.1rem;
        height: 5.3rem;
        border-radius: .6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $fontFamilyOne;
        font-weight: 700;
        font-size: 1.6rem;
        color: #FFFFFF;
        transition: .3s ease-in-out;
        transform: rotate(-90deg);
        margin-top: 6rem;

        @media(max-width: 1200px) {
            display: none;
        }
    }
}